@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--Arimo-font);
}

:root {
    --primary-color: #36c6c2;
    --prim-light: #eafbfb;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #c5a45f;
    --secondary-color: #2ad4aa;
    --text-light: #bea15d;
    --Oswald-font: "Oswald", sans-serif;
    --Arimo-font: "Arimo", sans-serif;

    --transition-regular: .3s;
    --transition-slow: .6s;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--Arimo-font);
    color: var(--text-color);
}

p {
    color: var(--text-light);
}

html {
    overflow-x: hidden;
}

/* Hero */
.hero {
    min-height: 100vh;
    background-image: url(assets/Hero-image.png);
    background-position: center 45px; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 9;
}

.contact-form {
    width: fit-content;
    border-radius: 10px 90px 90px 10px;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(2px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contact-form:hover {
    box-shadow: 0 0 20px var(--primary-color);
    transform: scale(1.02);
}

.tagline-text {
  color: transparent; 
  -webkit-text-stroke: 2px rgb(32 79 94 / var(--tw-text-opacity, 6)); 
  text-shadow: 0 2px 6px rgba(255,255,255,2); 
}
